In [1]:
import numpy as np
import pandas as pd

In [5]:
data={
    'Category':['A','B','A','B','A','B'],
    'Store':['X','X','Y','Y','X','Y'],
    'Sales':[100,200,150,250,300,350],
    'Quantity':[1,2,1,3,2,4],
    'Date':pd.date_range('2023-01-01',periods=6)
}
df=pd.DataFrame(data)

In [6]:
df

  Category Store  Sales  Quantity       Date
0        A     X    100         1 2023-01-01
1        B     X    200         2 2023-01-02
2        A     Y    150         1 2023-01-03
3        B     Y    250         3 2023-01-04
4        A     X    300         2 2023-01-05
5        B     Y    350         4 2023-01-06

In [11]:
#Group by Category and Calculate the sum of the Sales
cat=df.groupby('Category')['Sales'].sum()
cat

Category
A    550
B    800
Name: Sales, dtype: int64

In [12]:
cat=df.groupby('Store')['Sales'].sum()
cat

Store
X    600
Y    750
Name: Sales, dtype: int64

In [13]:
cat=df.groupby(['Category','Store'])['Sales'].sum()
cat

Category  Store
A         X        400
          Y        150
B         X        200
          Y        600
Name: Sales, dtype: int64

### Aggregation

In [ ]:
df['Sales'].mean()
''' mean  median mode mx min count std var etc.'''

np.float64(225.0)

In [17]:
#df['Sales'].agg([np.mean,np.sum,np.std])
df['Sales'].agg(['mean','sum','std'])

mean     225.000000
sum     1350.000000
std       93.541435
Name: Sales, dtype: float64