In [3]:
import numpy as np
import pandas as pd

In [4]:
data={
    'Date': pd.date_range('2023-01-01',periods=6),
    'City':['Delhi','Delhi','Delhi','Mumbai','Mumbai','Mumbai'],
    'Sales':[100,150,200,300,350,400],
    'Expenses':[50,60,70,80,90,100]
    
    }
df=pd.DataFrame(data)
df['Profit']=df['Sales']-df['Expenses']

In [5]:
df

        Date    City  Sales  Expenses  Profit
0 2023-01-01   Delhi    100        50      50
1 2023-01-02   Delhi    150        60      90
2 2023-01-03   Delhi    200        70     130
3 2023-01-04  Mumbai    300        80     220
4 2023-01-05  Mumbai    350        90     260
5 2023-01-06  Mumbai    400       100     300

In [9]:
pivot = df.pivot_table(index='City',values=['Sales','Expenses','Profit'],aggfunc=np.sum,margins=True)
pivot

C:\Users\praka\AppData\Local\Temp\ipykernel_16044\3840838078.py:1: FutureWarning: The provided callable <function sum at 0x0000016936F3E8C0> is currently using DataFrameGroupBy.sum. In a future version of pandas, the provided callable will be used directly. To keep current behavior pass the string "sum" instead.
  pivot = df.pivot_table(index='City',values=['Sales','Expenses','Profit'],aggfunc=np.sum,margins=True)

        Expenses  Profit  Sales
City
Delhi        180     270    450
Mumbai       270     780   1050
All          450    1050   1500