# Basic Array Creaction

In [5]:
import numpy as np

In [7]:
arr=np.array([1,2,3,4,5])
arr

array([1, 2, 3, 4, 5])

In [11]:
a=[1,2,3,4,5,"Prakash","python"]
a

[1, 2, 3, 4, 5, 'Prakash', 'python']

In [12]:
np.array(a)  # Convert list to numpy array

array(['1', '2', '3', '4', '5', 'Prakash', 'python'], dtype='<U21')

here as array takes only homogeneous data it converts all the elemnts into string utype.

In [ ]:
l=[[1,2,3],[4,5,6],[7,8,9]]
print(l)
#we can not create multiple dimenion using list but we can create it using numpy
np.array(l)  # Convert list of lists to numpy array

[[1, 2, 3], [4, 5, 6], [7, 8, 9]]

array([[1, 2, 3],
       [4, 5, 6],
       [7, 8, 9]])